.feed{
  background-color: black;
  color: white;
  text-align: justify;
  .feedHeader{
    display: flex;
    justify-content:space-between;
    align-items: center;
    // border-bottom: 1px solid #5c5f61;
    padding: 0 1rem;
  }
  .mainFeed{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    .pp{
      width: 3.125rem;
      height: 3.125rem;
      border-radius: 50%;
    }
    .tweeter{
      font-weight: 700;
      font-size: 1rem;
      color: #D9D9D9;
      span{
        font-weight:300;
        color: #6E767D;
      }
    }
    .tweet{
      font-weight: 400;
      font-size: 1rem;
    }
    .interactions{

    }
  }
}