.btn{
  width: 14rem;
  height: 3.25rem;
  text-align: center;
  background-color:#1D9BF0 ;
  color: white;
  border-radius: 3.25rem;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 6px;
}
@media screen and (max-width: 1024px){
  .btn{
    width: 4rem;
  }
}