.happening{
  width:21.875rem;
  height: 28.75rem;
  background-color: #4a4c4e;
  border-radius: .75rem;
  margin-left: 1.875rem;
  margin-top: 1rem;
  color: white;
  height: 2.625rem;
  text-align: center;
  display: flex;
  align-items: center;
  padding-left: 1rem;

}