.notification{
  position: absolute;
  left: 20rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content:space-evenly;
  height: 100%;
  text-align:justify;
  padding: 0 2px;
}
@media screen and (max-width: 1025px){
  .notification{
    position: absolute;
    left: 4.95rem;
    background-color:black;
  }
}