.hover{
  width: 80%;
  :hover{
    background-color: #e6e6e65e;
    border-radius: 3.25rem;
    width: 100%;
    padding: 0 .5rem;
  }
  .sroutes{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    padding: 4px 0;
    align-items: center;
    background-color: none;
    h3{
      font-size: 1.25rem;
      color: #d9d9d9;
      margin: .6rem 0 ;
      font-weight: 400;
      padding-left: 1.5rem;
  
    }
  }
}