.search{
  width: 100%;
  height: 2.75rem;
  outline: none;
  background-color:#202327;
  border: none;
  border-radius: 2rem;
  margin-top: 6px;
}
::placeholder{
  padding-left: .75rem;
  font-size: 1rem;
  font-weight: 400;
}
@media screen and (max-width: 1025px) {
  .se{
    padding-bottom: 8px;
    border-bottom: 1px solid #5c5f61;
  }
}