.search{
  width: 23rem;
  height: 2.75rem;
  outline: none;
  background-color:#202327;
  border: none;
  border-radius: 2rem;
  margin-top: 6px;
}
::placeholder{
  padding-left: .75rem;
  font-size: 1rem;
  font-weight: 400;
}
@media screen and (max-width: 1025px) {
  .search{
    width: 95%;
    margin-left: 8px;
  }
}