.signup{
  width: 100%;
  height: 100vh;
  background-color: #252D35;
  display: flex;
  align-items: center;
  justify-content:center;
  .signupForm{
    width: 37.5rem;
    background-color: black;
    height: 36rem;
    border-radius: 10px;
  }
}